.container{
  margin: auto;
  padding: 25px;
  display: grid;
  width: 30%;
  gap: 9px;
    background:lavenderblush;
  }
  .btn{
    color:green;
  }
  
  .btn:hover{
  
  cursor:pointer;
  
  }
  @media (max-width:720px){
    .container{width:50%}
    }